In [18]:
import pandas as pd

In [19]:
df=pd.read_csv(r'my_data.csv')

In [20]:
df.head()

,Unnamed: 0,id,name,host_id,host_name,neighbourhood,longitude,latitude,property_type,room_type,beds,accommodates,price,availability,minimum_night,maximum_night,no_of_reviews,rating,host_listings_counts
0,0,10006546,Ribeira Charming Duplex,51399391,Ana&Gonçalo,NaN,-8.61308,41.14130,House,Entire home/apt,5,8,80.0,239,2,30,51,89,3
1,1,10006546,Ribeira Charming Duplex,51399391,Ana&Gonçalo,NaN,-8.61308,41.14130,House,Entire home/apt,5,8,80.0,239,2,30,51,89,3
2,2,1001265,Ocean View Waikiki Marina w/prkg,5448114,David,Waikiki,-157.83919,21.28634,Condominium,Entire home/apt,1,2,115.0,343,3,365,96,84,18
3,3,10021707,Private Room in Bushwick,11275734,Josh,Bushwick,-73.93615,40.69791,Apartment,Private room,1,1,40.0,0,14,1125,1,100,1
4,4,10021707,Private Room in Bushwick,11275734,Josh,Bushwick,-73.93615,40.69791,Apartment,Private room,1,1,40.0,0,14,1125,1,100,1

In [21]:
df.duplicated("id").sum()

1476

In [22]:
new_df=df.drop_duplicates("id")

In [23]:
new_df.head()

,Unnamed: 0,id,name,host_id,host_name,neighbourhood,longitude,latitude,property_type,room_type,beds,accommodates,price,availability,minimum_night,maximum_night,no_of_reviews,rating,host_listings_counts
0,0,10006546,Ribeira Charming Duplex,51399391,Ana&Gonçalo,NaN,-8.613080,41.141300,House,Entire home/apt,5,8,80.0,239,2,30,51,89,3
2,2,1001265,Ocean View Waikiki Marina w/prkg,5448114,David,Waikiki,-157.839190,21.286340,Condominium,Entire home/apt,1,2,115.0,343,3,365,96,84,18
3,3,10021707,Private Room in Bushwick,11275734,Josh,Bushwick,-73.936150,40.697910,Apartment,Private room,1,1,40.0,0,14,1125,1,100,1
5,5,1003530,New York City - Upper West Side Apt,454250,Greta,NaN,-73.965230,40.799620,Apartment,Private room,1,2,135.0,93,12,360,70,94,3
6,6,10038496,Copacabana Apartment Posto 6,51530266,Ana Valéria,Copacabana,-43.190849,-22.984339,Apartment,Entire home/apt,3,4,119.0,118,3,75,70,98,2

In [24]:
len(new_df["id"].unique())

4079

In [25]:
new_df.isnull().sum()

Unnamed: 0                 0
id                         0
name                       2
host_id                    0
host_name                  0
neighbourhood           1228
longitude                  0
latitude                   0
property_type              0
room_type                  0
beds                       0
accommodates               0
price                      0
availability               0
minimum_night              0
maximum_night              0
no_of_reviews              0
rating                     0
host_listings_counts       0
dtype: int64

In [26]:
new_df['name'].fillna('Not Mentioned', inplace=True)

C:\Users\jayap\AppData\Local\Temp\ipykernel_888\2792076313.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['name'].fillna('Not Mentioned', inplace=True)

In [32]:
new_df['neighbourhood'].fillna(method='ffill', inplace=True)

C:\Users\jayap\AppData\Local\Temp\ipykernel_888\3842200854.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['neighbourhood'].fillna(method='ffill', inplace=True)

In [33]:
new_df.isnull().sum()

Unnamed: 0              0
id                      0
name                    0
host_id                 0
host_name               0
neighbourhood           0
longitude               0
latitude                0
property_type           0
room_type               0
beds                    0
accommodates            0
price                   0
availability            0
minimum_night           0
maximum_night           0
no_of_reviews           0
rating                  0
host_listings_counts    0
dtype: int64

In [34]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4079 entries, 0 to 5554
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            4079 non-null   int64
 1   id                    4079 non-null   int64
 2   name                  4079 non-null   object
 3   host_id               4079 non-null   int64
 4   host_name             4079 non-null   object
 5   neighbourhood         4079 non-null   object
 6   longitude             4079 non-null   float64
 7   latitude              4079 non-null   float64
 8   property_type         4079 non-null   object
 9   room_type             4079 non-null   object
 10  beds                  4079 non-null   int64
 11  accommodates          4079 non-null   int64
 12  price                 4079 non-null   float64
 13  availability          4079 non-null   int64
 14  minimum_night         4079 non-null   int64
 15  maximum_night         4079 non-null   int64
 16  no_of_reviews         4079 non-null   int64
 17  rating                4079 non-null   int64
 18  host_listings_counts  4079 non-null   int64
dtypes: float64(3), int64(11), object(5)
memory usage: 637.3+ KB

In [30]:
new_df.to_csv('clean_my_data.csv')