In [1]:
from pymongo import MongoClient
import pandas as pd

In [2]:
client=MongoClient("mongodb+srv://soundarthangavel2003:soundar@cluster0.eneacqc.mongodb.net/?retryWrites=true&w=majority")

In [3]:
db=client["sample_airbnb"]
coll=db["listingsAndReviews"]

In [4]:
coll.count_documents({})

5555

In [5]:
summary=[]

In [11]:
for i in  coll.find({}):
    try:
        data=dict(id=i["_id"],
                  name=i["name"],
                  host_id=i["host"]["host_id"],
                  host_name=i["host"]["host_name"],
                  neighbourhood=i['host']['host_neighbourhood'],
                  longitude=i['address']["location"]['coordinates'][0],
                  latitude=i['address']["location"]['coordinates'][1],
                  property_type=i['property_type'],
                  room_type=i['room_type'],
                  beds=i['beds'],
                  accommodates=i['accommodates'],
                  price=i['price'],
                  availability=i['availability']['availability_365'],
                  minimum_night=i['minimum_nights'],
                  maximum_night=i['maximum_nights'],
                  no_of_reviews=i['number_of_reviews'],
                  rating=i["review_scores"]['review_scores_rating'],
                  host_listings_counts=i['host']['host_listings_count']
                 )
    except:
            pass
    summary.append(data)

In [12]:
df=pd.DataFrame(summary)

In [15]:
df

,id,name,host_id,host_name,neighbourhood,longitude,latitude,property_type,room_type,beds,accommodates,price,availability,minimum_night,maximum_night,no_of_reviews,rating,host_listings_counts
0,10006546,Ribeira Charming Duplex,51399391,Ana&Gonçalo,,-8.613080,41.141300,House,Entire home/apt,5,8,80.00,239,2,30,51,89,3
1,10006546,Ribeira Charming Duplex,51399391,Ana&Gonçalo,,-8.613080,41.141300,House,Entire home/apt,5,8,80.00,239,2,30,51,89,3
2,1001265,Ocean View Waikiki Marina w/prkg,5448114,David,Waikiki,-157.839190,21.286340,Condominium,Entire home/apt,1,2,115.00,343,3,365,96,84,18
3,10021707,Private Room in Bushwick,11275734,Josh,Bushwick,-73.936150,40.697910,Apartment,Private room,1,1,40.00,0,14,1125,1,100,1
4,10021707,Private Room in Bushwick,11275734,Josh,Bushwick,-73.936150,40.697910,Apartment,Private room,1,1,40.00,0,14,1125,1,100,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9983221,Cozy apartment downtown Porto,37776205,Ana,,-8.616930,41.151370,Apartment,Entire home/apt,2,4,58.00,300,3,1125,107,98,8
5551,9983221,Cozy apartment downtown Porto,37776205,Ana,,-8.616930,41.151370,Apartment,Entire home/apt,2,4,58.00,300,3,1125,107,98,8
5552,9987200,The best suite in Copacabana (total privacy),51314789,Dumont,Copacabana,-43.176533,-22.961076,Aparthotel,Private room,3,3,101.00,53,3,60,90,97,3
5553,9990304,March Madness Special! Aina Nalu Platinum D107,51013381,Coconut Condos,,-156.676460,20.875610,Condominium,Entire home/apt,3,6,227.00,243,3,365,13,97,58
5554,9993190,Just Steps from the Ocean at Premier Platinum ...,51013381,Coconut Condos,,-156.667520,20.858940,Townhouse,Entire home/apt,4,6,220.00,258,3,365,15,92,58

In [16]:
df.to_csv('my_data.csv')